[submodule "overlay/opt/yocto/poky"]
	path = overlay/opt/yocto/poky
	url = https://git.yoctoproject.org/poky
	branch = dunfell

[submodule "overlay/opt/yocto/meta-chipsee"]
	path = overlay/opt/yocto/meta-chipsee
	url = https://github.com/rohitzsh/meta-chipsee.git
	branch = initial-work
